.search-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.ing-container {
    /* box-sizing: border-box; */
    gap: 0.5rem;
    display: flex;
    flex-direction: column;
}

.ing-form-input {
    width: 100%;
}

.ing-item {
    gap: 0.25rem;
    position: relative;
}

.ing-input {
    gap: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}

.remove {
    position: absolute;
    right: 0;
    /* border: 50px; */
    /* padding: 0.3rem; */
}

.ing-btn {
    height: 1.5lh;
    border: 1px solid silver;
    font-weight: 600;
}

.ing-btn-add {
    width: auto;
    margin: 0 auto;
}

.suggest-item {
    padding: 0.5em;
    cursor: pointer;
    background: #eeeeee;
    border-bottom: 1px solid #ccc;
    /* width: 50%; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.suggest-item:hover {
    background: #dfdfdf;
}

.suggest-container {
    width: 100%;
    font-weight: 600;
    position: absolute;
    padding-right: 10%;
    /* bottom: 0.25rem; */
    /* margin-top: 1rem; */
    z-index: 2;
}

.filter-title-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.title-filter-recipe {
    justify-self: unset;
}